.list-group {
    margin-top: 5px;
    margin-bottom: 5px;
}

#content {
    margin-top: 10px;
}

#dataset-label, #field-label {
    margin-top: 5px;
    margin-right: 10px;
}

.header-link {
    margin-top: 5px;
    margin-left: 10px;
}

#overview, #phenotypes, #connectivity, #correlation {
    display: none;
}

#overview:target, #phenotypes:target, #connectivity:target, #correlation:target {
    display: block;
}
