{% if summary_img is not none %}
    <img style='width: 48%;' src='data:image/png;base64,{{ summary_img }}'>
    <br>
    <a href='#connectivity' hx-post='/connectivity' hx-swap='none'>Return</a>
    <a href='#image-math' hx-post='/image-math' hx-swap='none'>Image Math</a>
{% else %}
    <form data-no-submit>
        <h6>Types</h6>
            {% for type,sel in conn_types.items() %}
            <div class='form-check form-check-inline'>
                <input class="form-check-input" type="checkbox" name='type-{{ type }}' hx-post='/conn-change-checked' hx-trigger='change' hx-swap='none' {{ "checked" if sel }}>
                <label class="form-text">{{ type }}</label>
            </div>
            {% endfor %}
        <h6>Tasks</h6>
            {% for task,sel in conn_tasks.items() %}
            <div class='form-check form-check-inline'>
                <input class="form-check-input" type="checkbox" name='task-{{ task }}' hx-post='/conn-change-checked' hx-trigger='change' hx-swap='none' {{ "checked" if sel }}>
                <label class="form-text">{{ task }}</label>
            </div>
            {% endfor %}
        <h6>Fields</h6>
            {% for field,sel in conn_fields.items() %}
            <div class='form-check form-check-inline'>
                <input class="form-check-input" type="checkbox" name='field-{{ field }}' hx-post='/conn-change-checked' hx-trigger='change' hx-swap='none' {{ "checked" if sel }}>
                <label class="form-text">{{ field }}</label>
            </div>
            {% endfor %}
    </form>
    <div class='d-flex'>
        <form data-no-submit>
            <input type='hidden' name='mean' value='true'>
            <button type="submit" hx-post='/conn-mean' hx-swap='none' class="btn btn-primary">Mean Image</button>
        </form>
        <form data-no-submit>
            <input type='hidden' name='std' value='true'>
            <button type="submit" hx-post='/conn-std' hx-swap='none' class="btn btn-primary">Std Dev Image</button>
        </form>
    </div>
{% endif %}
