<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel='stylesheet' href='/static/css/imnomer.css'>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src='/static/js/htmx.min.js'></script>
    <script>
window.addEventListener('load', function() {
    $ = q => document.querySelector(q);
    $$ = q => [...document.querySelectorAll(q)];
    $$('[data-no-submit]').forEach(e => {
        console.log('okay');
        window.addEventListener('keydown', event => {
            if(event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    });
});
    </script>
    <link rel="icon" href='/static/images/favicon.png'>
    <title>ImageNomer</title>
</head>
<body>
    <div id='app' class='container' hx-sse='connect:/sse'>
        <div id="header" class='row'>
            <h2>ImageNomer</h2>
            <div class='d-flex'>
                <label for="dataset" class='align-middle' id='dataset-label'>Dataset</label>
                <select id="dataset" class='form-select' style='width: 200px'>
                    <option>Fibromyalgia</option>
                </select>
                <a class='header-link' href='https://imagenomer.readthedocs.io/en/latest/'>Documentation</a>
                <a class='header-link' href='https://github.com/TulaneMBB/ImageNomer/'>GitHub</a>
                <a class='header-link' href='https://github.com/TulaneMBB/ImageNomer/issues'>Issues</a>
            </div>
        </div>
        <div id="content" class='row'>
            <div id="left" class='col-3'>
                <div id='subjects'>
                    <h6>Subjects</h6>
                    <div class='form-text'>
                        66 subjects (<span id='num-subs-selected'>2</span> selected)
                    </div>
                    <form data-no-submit>
                        <input type='text' class='form-control' placeholder='Filter Subjects' id='filter-text' name='filter-text' hx-trigger='change' hx-post='/filter-subjects' hx-swap='none'>
                    </form>
                    <ul class='list-group' id='subs-list' hx-sse='swap:SubsList'>
                        <li class='list-group-item'>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="subj1">
                                <label class="form-check-label" for="subj1">
                                    <a href='#'>Subject 1</a>
                                </label>
                            </div>
                        </li>
                        <li class='list-group-item'>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="subj2" checked>
                                <label class="form-check-label" for="subj2">
                                    <a href='#'>Subject 2</a>
                                </label>
                            </div>
                        </li>
                        <li class='list-group-item'>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="subj3" checked>
                                <label class="form-check-label" for="subj3">
                                    <a href='#'>Subject 3</a>
                                </label>
                            </div>
                        </li>
                    </ul>
                    <ul class="pagination justify-content-center" id='subs-pagination' hx-sse='swap:SubsPagination'></ul>
                </div>
                <div id='groups'>
                    <h6>Groups</h6>
                    <div class='form-text'>
                        Create a group, e.g. "age &lt; 20" or "gender == 'M' and age &gt; 50"
                    </div>
                    <form class='d-flex'>
                        <input type='text' class='form-control' placeholder='Group Query' id='group-text' name='group-text'>
                        <button type='button' class='btn btn-primary' id='group-create-btn' hx-post='/create-group' hx-swap='none'>Create</button>
                    </form>
                    <ul class='list-group' id='groups-list' hx-sse='swap:GroupsList'></ul>
                </div>
            </div>
            <div id="right" class='col'>
                <ul class='nav'>
                    <li class='nav-item'>
                        <a class='nav-link' href='#'>Overview</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href='#'>Phenotypes</a>
                    </li>
                    <li class='nav-item'>
                        <a class="nav-link" href='#'>Connectivity</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href='#'>SNPs</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href='#'>Decomposition</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href='#'>Correlation</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href='#'>Weights</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href='#'>Image Math</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
