<!DOCTYPE html>
<!--<html lang="en" data-bs-theme='dark'>-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel='stylesheet' href='/static/css/imnomer.css'>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src='/static/js/htmx.min.js'></script>
    <script>
window.addEventListener('load', function() {
    $ = q => document.querySelector(q);
    $$ = q => [...document.querySelectorAll(q)];
    $$('[data-no-submit]').forEach(e => {
        window.addEventListener('keydown', event => {
            if(event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    });
});
    </script>
    <link rel="icon" href='/static/images/favicon.png'>
    <title>ImageNomer</title>
</head>
<body>
    <div id='app' class='container' hx-sse='connect:/sse'>
        <div id="header" class='row'>
            <h2>ImageNomer</h2>
            <div class='d-flex'>
                <label for="dataset" id='dataset-label'>Dataset</label>
                <form data-no-submit hx-sse='swap:Cohorts'></form>
                <a class='header-link' href='https://imagenomer.readthedocs.io/en/latest/'>Documentation</a>
                <a class='header-link' href='https://github.com/TulaneMBB/ImageNomer/'>GitHub</a>
                <a class='header-link' href='https://github.com/TulaneMBB/ImageNomer/issues'>Issues</a>
            </div>
        </div>
        <div id="content" class='row'>
            <div id="left" class='col-3'>
                <div id='subjects'>
                    <h6>Subjects</h6>
                    <form data-no-submit>
                        <input type='text' class='form-control' placeholder='Filter Subjects' id='filter-text' name='filter-text' hx-trigger='input' hx-post='/filter-subjects' hx-swap='none'>
                    </form>
                    <div hx-sse='swap:SubsList'></div>
                    <ul class="pagination justify-content-center" id='subs-pagination' hx-sse='swap:SubsPagination'></ul>
                </div>
                <div id='groups'>
                    <h6>Groups</h6>
                    <div class='form-text'>
                        Create a group, e.g. "age &lt; 20" or "gender == 'M' and age &gt; 50"
                    </div>
                    <form class='d-flex'>
                        <input type='text' class='form-control' placeholder='Group Query' id='group-text' name='group-text'>
                        <button type='button' class='btn btn-primary' id='group-create-btn' hx-post='/create-group' hx-swap='none'>Create</button>
                    </form>
                    <ul class='list-group' id='groups-list' hx-sse='swap:GroupsList'></ul>
                </div>
            </div>
            <div id="right" class='col'>
                <ul class='nav'>
                    <li class='nav-item'>
                        <a class='nav-link' href='#overview' hx-post='/overview' hx-swap='none'>Overview</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href='#phenotypes' hx-post='/phenotypes' hx-swap='none'>Phenotypes</a>
                    </li>
                    <li class='nav-item'>
                        <a class="nav-link" href='#connectivity' hx-post='/connectivity' hx-swap='none'>Connectivity</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href='#'>SNPs</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href='#'>Decomposition</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href='#correlation' hx-post='/correlation' hx-swap='none'>Correlation</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href='#'>Weights</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href='#image-math' hx-post='/image-math' hx-swap='none'>Image Math</a>
                    </li>
                </ul>
                <section id='overview' hx-sse='swap:Overview'></section>
                <section id='phenotypes' hx-sse='swap:Phenotypes'></section>
                <section id='connectivity' hx-sse='swap:Connectivity'></section>
                <section id='correlation' hx-sse='swap:Correlation'></section>
                <section id='image-math' hx-sse='swap:ImageMath'></section>
            </div>
        </div>
    </div>
</body>
</html>
