{% if has_prev %}
    <li class="page-item">
        <form data-no-submit>
            <a class="page-link" href="#" hx-post='/subjects-page' hx-swap='none'>&laquo;</a>
            <input type='hidden' name='page' value='First'>
        </form>
    </li>
{% endif %}
{% for page in view_pages %}
    <li class="page-item">
        <form data-no-submit>
            <a class="page-link" href="#" hx-post='/subjects-page' hx-swap='none'>{{ page }}</a>
            <input type='hidden' name='page' value='{{ page }}'>
        </form>
    </li>
{% endfor %}
{% if has_next %}
    <li class="page-item">
        <form data-no-submit>
            <a class="page-link" href="#" hx-post='/subjects-page' hx-swap='none'>&raquo;</a>
            <input type='hidden' name='page' value='Last'>
        </form>
    </li>
{% endif %}
